.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100vh;
}

.border {
  border: 1px solid black;
}

.navigation {
  grid-area: 1 / 1 / 2 / 10;
}
.sidebar {
  grid-area: 2 / 1 / 10 / 2;
}
.item {
  grid-area: 2 / 2 / 10 / 10;
}
.meta-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: 2 / 2 / 5 / 10;
}
.item-details {
  grid-area: 5 / 2 / 9 / 10;
}
.actions {
  grid-area: 9 / 2 / 10 / 10;
}

.modal-window {
  display: none;
}
